*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
  background-image: url('../img/dibujo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}




/*------------------------------------------------------------------------------*/

#content{
    border: 3px solid black;
    max-width: 900px;
    margin: auto;
    color: white;
    background-color: rgba(56, 56, 56, 0.9);
    
}

/*------------------------------------------------------------------------------

 /$$   /$$ /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$ 
| $$  | $$| $$_____/ /$$__  $$| $$__  $$| $$_____/| $$__  $$
| $$  | $$| $$      | $$  \ $$| $$  \ $$| $$      | $$  \ $$
| $$$$$$$$| $$$$$   | $$$$$$$$| $$  | $$| $$$$$   | $$$$$$$/
| $$__  $$| $$__/   | $$__  $$| $$  | $$| $$__/   | $$__  $$
| $$  | $$| $$      | $$  | $$| $$  | $$| $$      | $$  \ $$
| $$  | $$| $$$$$$$$| $$  | $$| $$$$$$$/| $$$$$$$$| $$  | $$
|__/  |__/|________/|__/  |__/|_______/ |________/|__/  |__/
                                                                                                                                                                                                                           
------------------------------------------------------------------------------*/


.cont-header{
  background-color: #782514;
  text-align: center;
    
}

.ul-nav{
    
    display: flex;
    gap: 8px;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}




/*------------------------------------------------------------------------------*

  /$$$$$$   /$$$$$$  /$$$$$$$  /$$$$$$$  /$$   /$$  /$$$$$$  /$$$$$$$$ /$$      
 /$$__  $$ /$$__  $$| $$__  $$| $$__  $$| $$  | $$ /$$__  $$| $$_____/| $$      
| $$  \__/| $$  \ $$| $$  \ $$| $$  \ $$| $$  | $$| $$  \__/| $$      | $$      
| $$      | $$$$$$$$| $$$$$$$/| $$$$$$$/| $$  | $$|  $$$$$$ | $$$$$   | $$      
| $$      | $$__  $$| $$__  $$| $$__  $$| $$  | $$ \____  $$| $$__/   | $$      
| $$    $$| $$  | $$| $$  \ $$| $$  \ $$| $$  | $$ /$$  \ $$| $$      | $$      
|  $$$$$$/| $$  | $$| $$  | $$| $$  | $$|  $$$$$$/|  $$$$$$/| $$$$$$$$| $$$$$$$$
 \______/ |__/  |__/|__/  |__/|__/  |__/ \______/  \______/ |________/|________/
                                                                                                                                                             
                                                                    
------------------------------------------------------------------------------*/

.content-slide{
    width: 100%;
    height: 400px;
    overflow: hidden;
}


.content-slide-son{
  display: flex;
  width: 400%;
  height: 100%;
  animation: slider 10s infinite;
}

.img-slide{
  width: 100%;
  height: 100%; 
}


.img-slide img{
    width: 100%;
    height: 100%;
    
}



@keyframes slider {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(0); }
  33%  { transform: translateX(-25%); }
  50%  { transform: translateX(-25%); }
  58%  { transform: translateX(-50%); }
  75%  { transform: translateX(-50%); }
  83%  { transform: translateX(-75%); } /* llega al clon */
  100% { transform: translateX(-75%); }
}




/*------------------------------------------------------------------------------*


 /$$      /$$  /$$$$$$  /$$$$$$ /$$   /$$
| $$$    /$$$ /$$__  $$|_  $$_/| $$$ | $$
| $$$$  /$$$$| $$  \ $$  | $$  | $$$$| $$
| $$ $$/$$ $$| $$$$$$$$  | $$  | $$ $$ $$
| $$  $$$| $$| $$__  $$  | $$  | $$  $$$$
| $$\  $ | $$| $$  | $$  | $$  | $$\  $$$
| $$ \/  | $$| $$  | $$ /$$$$$$| $$ \  $$
|__/     |__/|__/  |__/|______/|__/  \__/
                                                                                
                                                                                                                                                                                                                      
------------------------------------------------------------------------------*/

.cont-main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: space-around; 
    gap: 16px;
}

.soncont{
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    transition: transform 0.8s ease;
    text-align: center;
}

.soncont:hover{
    transform: scale(1.1);
    
}


/*////////////////////////////////////////////////////////////////////////////*/

.slider {
    overflow: hidden;
    margin-top: 20px;
}

.slider-son{
    display: flex;
    animation: scroll 10s linear infinite;
    animation-delay: 0.5s;
    height: 100px;  
    
}


.slide {
  width: calc(100% / 3);
  flex-shrink: 0;
  
}

.slide img{  
    height: 100%; 
    width: 60%;
}






/*////////////////////////////////////////////////////////////////////////////*/

@keyframes scroll  {
    0% { transform: translateX(0); }
  
    100% { transform: translateX(-100%); }
}







/*------------------------------------------------------------------------------*/



footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #782514;
}

/*--------------------------------------
########################################
#############+-----------*##############
#########*------------------*###########
#######=----------------------##########
######-----*-------------------+########
#####------###------------------*#######
####*-----+####------------------#######
####------#####+-----------------#######
####------######=----------------#######
####-----*#######*---------------#######
####-----###########-------------#######
####--=##################*+=-----#######
####--=########################--#######
####=--#########=----#########---#######
#####=---#######-----=######----########
#######=--#################---##########
########=--+##############---###########
##########---*##########----############
###########*------=------=##############
###############+------##################
########################################
########################################
--------------------------------------*/





.cpus{
    
    Width: 400px;
    background-color: rgba(43, 39, 36);
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: white;
    
    }