*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #4A0913;
    
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    background-color: #632987;
}

.content{
    width: 90%;
    margin: auto;
    color: white;
    overflow: hidden;
}


nav{
    background-color: #632987;
}

a{
    text-decoration: none;
    color: white;
    
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


img{
    width: 30px;
}

.cpu{
    border: 1px solid white;
    margin-top: 5px;
    
}

.liquid{
    width: 100px;
}